name: CD

on:
  push:
    branches:
      - "!*"
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-slim

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6
        with:
          show-progress: false

      - uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: npm
          registry-url: https://registry.npmjs.org

      - run: npm ci
      - run: node --run ci
      - run: node --run build
      - run: npm test
        env:
          CI: true
      - run: npm publish --provenance --access public
